* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'HiraKakuProN-W3', 'Hiragino Kaku Gothic ProN W3', 'HiraKakuN-W3', 'Hiragino Kaku Gothic N W3', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'Arial', 'Helvetica Neue', 'Helvetica', system-ui, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: initial;
  text-decoration: none;
}

.top-page__header {
  position: absolute;
  top: 0;
  display: grid;
  align-items: center;
  width: 100vw;
  grid-template:
    " .    .    .   .    .  " 5px
    " .   name  .  nav   .  " 40px
    " .    .    .   .    .  " 5px /
     20px auto 1fr auto 20px;
  border-bottom: 1px solid #aaa;
}

.top-page__site-name {
  grid-area: name;
  font-size: 30px;
}

.top-page__nav {
  grid-area: nav;
}

.top-page__nav-item {
  display: inline-block;
}


.top-page__section {
  display: grid;
  grid-template:
    ". . ." 1fr
    ". title ." 70px
    ". body ." auto
    ". . . " 1fr /
    auto minmax(300px, 600px) auto;
  min-height: 100vh;
  border-bottom: 1px solid #aaa;
}

.top-page__section--centered {
  text-align: center;
}

.top-page__section-title {
  grid-area: title;
  font-size: 40px;
}

.top-page__section-body {
  grid-area: body;
}

.top-page__section-body--centered {
  text-align: center;
}

.top-page__description {
  line-height: 1.8;
}

.top-page__definition-list {

}

.top-page__list {

}
